name: Go CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21' # Adjust this to your Go version if needed

    - name: Install dependencies
      run: go mod download

    - name: Run Tests (lib_optimized)
      run: cd lib_optimized && go test -v -cover